.ps_history/
**/.ps_history/
.superpowers/
node_modules/
**/node_modules/

dist/
**/dist/
build/
**/build/
coverage/
**/coverage/

.wrangler/
**/.wrangler/

*.log
.env
.env.*
!.env.example
.dev.vars
**/.dev.vars

.DS_Store
Thumbs.db

